# Number3

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as plt

In [4]:
import seaborn as sns

# Number4

In [5]:
%matplotlib inline

# Number5

In [6]:
gdp_fp = pd.read_csv("../Data/gdp_percapita.csv.csv",nrows=6868)
print(gdp_fp[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

# Number6

In [7]:
internet_df = pd.read_csv("../Data/internet_use.csv.csv", nrows=4495)
print(internet_df[:7])

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN

# Number7

In [8]:
shape = gdp_fp.shape
print(shape)

(6868, 4)

### Answer: gdp_fp = 6868 rows and 4 columns

In [9]:
shape = internet_df.shape
print(shape)

(4495, 4)

### Answer: internet_df = 4495 rows and 4 columns

# Number8

In [10]:
print(gdp_fp.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

### Answer: gdp_fp = 
Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [11]:
print(internet_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

### Answer: internet_df =
Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

# Number9

In [12]:
print(gdp_fp[-10:])

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [13]:
print(internet_df[-10:])

     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

# Number10

In [14]:
gdp_fp=gdp_fp.drop(labels='Value Footnotes', axis=1)

In [15]:
internet_df=internet_df.drop(labels='Value Footnotes', axis=1)

# Number11

In [16]:
gdp_fp.rename(columns={'Country or Area':'Country', 'Year':'Year', 'Value':'GDP_Per_Capita'},inplace=True)

In [17]:
print(gdp_fp[:5])

       Country  Year  GDP_Per_Capita
0  Afghanistan  2019     2065.036398
1  Afghanistan  2018     2033.779002
2  Afghanistan  2017     2058.383832
3  Afghanistan  2016     2057.062164
4  Afghanistan  2015     2068.265904

# Number12

In [18]:
internet_df.rename(columns={'Country or Area':'Country', 'Year':'Year', 'Value':'Internet_Users_Pct'}, inplace=True)
print(internet_df)

          Country  Year  Internet_Users_Pct
0     Afghanistan  2014            6.390000
1     Afghanistan  2013            5.900000
2     Afghanistan  2012            5.454545
3     Afghanistan  2011            5.000000
4     Afghanistan  2010            4.000000
...           ...   ...                 ...
4490     Zimbabwe  1997            0.033080
4491     Zimbabwe  1996            0.016790
4492     Zimbabwe  1995            0.007684
4493     Zimbabwe  1994            0.001739
4494     Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

# Number13

In [19]:
gdp_and_internet_use=gdp_fp.merge(internet_df,'outer')

# Number14

In [20]:
print(gdp_and_internet_use[:5])

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

# Number15

In [21]:
print(gdp_and_internet_use[-5:])

     Country  Year  GDP_Per_Capita  Internet_Users_Pct
7900   Yemen  1999             NaN            0.056629
7901   Yemen  1998             NaN            0.023323
7902   Yemen  1997             NaN            0.015025
7903   Yemen  1996             NaN            0.000621
7904   Yemen  1990             NaN            0.000000

# Number16

In [22]:
gdp_and_internet_use = gdp_and_internet_use[gdp_and_internet_use['Year'].isin([2004,2009,2014])]
print(gdp_and_internet_use[:10])

        Country  Year  GDP_Per_Capita  Internet_Users_Pct
5   Afghanistan  2014     2102.385234            6.390000
10  Afghanistan  2009     1758.904043            3.550000
15  Afghanistan  2004     1200.278256            0.105809
23      Albania  2014    11623.866679           60.100000
28      Albania  2009    10346.864199           41.200000
33      Albania  2004     7604.838002            2.420388
53      Algeria  2014    11512.705405           18.090000
58      Algeria  2009    10782.361398           11.230000
63      Algeria  2004    10058.435939            4.634475
83       Angola  2014     8239.828837           21.260000

# Number17

In [23]:
gdp_and_internet_use_2004=gdp_and_internet_use[gdp_and_internet_use['Year']==2004]
gdp_and_internet_use_2009=gdp_and_internet_use[gdp_and_internet_use['Year']==2009]
gdp_and_internet_use_2014=gdp_and_internet_use[gdp_and_internet_use['Year']==2014]

# Number18

In [26]:
gdp_and_internet_use_2014.loc[gdp_and_internet_use_2014['Internet_Users_Pct'].idxmax()]

Country                  Iceland
Year                        2014
GDP_Per_Capita        49652.1495
Internet_Users_Pct         98.16
Name: 2625, dtype: object

# Number19

In [32]:
gdp_and_internet_use_2014.loc[gdp_and_internet_use_2014['Internet_Users_Pct'].idxmin()]

Country               Dem. People's Rep. of Korea
Year                                         2014
GDP_Per_Capita                                NaN
Internet_Users_Pct                            0.0
Name: 7079, dtype: object

# Number20

In [33]:
gdp_and_internet_use_2004.loc[gdp_and_internet_use_2004['Internet_Users_Pct'].idxmax()]

Country                     Sweden
Year                          2004
GDP_Per_Capita        44496.023401
Internet_Users_Pct           83.89
Name: 6019, dtype: object

In [34]:
gdp_and_internet_use_2004.loc[gdp_and_internet_use_2004['Internet_Users_Pct'].idxmin()]

Country               Dem. People's Rep. of Korea
Year                                         2004
GDP_Per_Capita                                NaN
Internet_Users_Pct                            0.0
Name: 7088, dtype: object

In [35]:
gdp_and_internet_use_2009.loc[gdp_and_internet_use_2009['Internet_Users_Pct'].idxmax()]

Country                    Iceland
Year                          2009
GDP_Per_Capita        48177.084123
Internet_Users_Pct            93.0
Name: 2630, dtype: object

In [36]:
gdp_and_internet_use_2009.loc[gdp_and_internet_use_2009['Internet_Users_Pct'].idxmin()]

Country               Dem. People's Rep. of Korea
Year                                         2009
GDP_Per_Capita                                NaN
Internet_Users_Pct                            0.0
Name: 7083, dtype: object

# Number21

In [ ]:
gdp_and_internet_use_2014.loc[gdp_and_internet_use_2014[]]